---
import logo from "assets/logo.svg";
import { localizePath } from "astro-i18next";
import { menuitems } from "@components/navbar/navbar.astro";
import { t } from "i18next";
---

<footer class="pb-12 pt-28 dark:bg-stone-950">
	<div class="mx-auto max-w-6xl px-6 md:px-12 lg:px-6 xl:px-0">
		<!-- DECOMMENT HERE IF YOU WANT YOUR LOGO IN THE FOOTER -->
		<!-- <a href={localizePath("/")} aria-label="logo" class="group flex items-center justify-center space-x-2">
			<Image class="inline-block" src={logo} alt="Astros" width={30} height={30} />
			<span class="text-semibold duration-300 text-gray-400 group-hover:text-gray-900 dark:text-white dark:group-hover:text-gray-100">
				Astros
			</span>
		</a> -->
		<ul role="list" class="flex flex-wrap items-center justify-center gap-4 py-4 text-gray-600 dark:text-white sm:gap-8">
			<li role="listitem">
				<a href={localizePath("/")} class="duration-300 hover:text-gray-900 dark:hover:text-gray-100">Home</a>
			</li>
			{
				menuitems.map(
					(item) =>
						item &&
						item.path && (
							<li role="listitem">
								<a href={localizePath(item.path)} class="duration-300 hover:text-gray-900 dark:hover:text-gray-100">
									{t(item.title)}
								</a>
							</li>
						)
				)
			}
		</ul>
		<div class="m-auto mt-4 flex w-max items-center justify-between space-x-4 text-gray-500 dark:text-white">

			<a class="duration-300 hover:text-gray-900 dark:hover:text-gray-100" href="https://web.facebook.com/lotusyogavn" title="facebook" target="blank" aria-label="facebook">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="m-auto w-5" viewBox="0 0 16 16">
					<path
						d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z">
					</path>
				</svg>
			</a>
		</div>
		<div class="mt-4 text-center">
			<span class="text-sm tracking-wide text-gray-500 dark:text-white">Copyright © Yoga Hoa Sen 2024. All rights reserved</span>
		</div>
	</div>
</footer>
